<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-searchbar (ionChange)="buscarFilmes($event)" placeholder="Buscar"></ion-searchbar>

  <!-- List of Text Items -->
  <ion-list *ngIf="listaFilmesAPI">

    <ion-item lines="none" *ngIf="listaFilmesAPI.results.length === 0">
      <ion-label class="ion-text-center">
        Nenhum resultado encontrado ...
      </ion-label>
    </ion-item>

    <!-- PRODUTO START-->

    <ion-item-sliding *ngFor="let filme of listaFilmesAPI.results">

      <ion-item lines="full" (click)="exibirFilme(filme)">
        <ion-thumbnail slot="start">
          <img *ngIf="filme.poster_path" src="https://www.themoviedb.org/t/p/w500/{{filme.poster_path}}" />
          <ion-icon *ngIf="!filme.poster_path" name="videocam-off"></ion-icon>
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{filme.title}}</h1>
            <p>{{filme.release_date | date: 'shortDate'}}</p>
            <ion-badge color="light" *ngFor="let idGenero of filme.genre_ids">
              {{generos[idGenero]}}
            </ion-badge>
          </div>
        </ion-label>

        <ion-chip [color]="filme.vote_average < 5 ? 'danger' : ((filme.vote_average < 7) ? 'warning' : 'success')"
          outline>
          <ion-label>{{filme.vote_average}}</ion-label>
        </ion-chip>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="roxo" (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

    <!-- PRODUTO END-->

  </ion-list>

</ion-content>
