<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      ilook
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <!-- List of Text Items -->
  <ion-list>

    <!-- PRODUTO START-->
    <ion-item-sliding>

      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/wHa6KOJAoNTFLFtp7wguUJKSnju.jpg">
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>Flash Temporada 1 à 9</h1>
            <p>15/04/2018 - 9 temporadas</p>
            <p>Autor Loko<p>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>R$ 29,90</ion-label>
        </ion-chip>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ijvC2w2yANsfgLT3LMu2zFr0fxh.jpg">
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>Mortal Kombat (2021)</h1>
            <p>15/04/2021 (BR)</p>
            <p>Ação, Fantasia, Aventura 1h 50m<p>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>76%</ion-label>
        </ion-chip>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
    <!-- PRODUTO END-->

  </ion-list>

</ion-content>
